/* Header, Footer and Generic Styles, + About Home Page */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

element.style {
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #FFA67E;
}


#container {
    width:450px;
    margin: auto;
    background-color: white;
}

#container span {
    display: block;
    width: 100%;
}

.title {
    color: red;
    font-family: 'Homemade Apple', cursive;
    font-weight: 300;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: -30px;
}

.subtitle {
    text-align: center;
    vertical-align: middle;
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 132px;
    font-weight: bold;
    font-weight: 210%;
    margin-bottom: 20px;
    font-family: 'Homemade Apple', cursive;
}

#linkcontainer {
    text-align: center;
}

.link1,
.link2,
.link3,
.link4,
.link5 {
    display: inline-block;
    *display: inline;
    width: 19%;
    height: 20px;
    vertical-align: top;
    zoom: 1;
    background: #ccc
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.app {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 15px;
}

.description {
    margin: 20px;
    border: 20px;
    margin-top: -10px;
}

#footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.copyright {
    font-color: #F0F0EF;
}

.contact {
    font-color: #F0F0EF;
}


/* Projects Page-Specific Styles */
#projectstitlecontainer {
    width: 96%;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding: 5px;
    display: flex;
    font-weight: bold;
    background: #0ff;
}

#project1container {
    width: 96%;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
}

#project2container {
    width: 96%;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
}

.proj2img {
    width: 18%;
    margin: 5px;
    height: auto;
}

.proj2desc {
    width: 18%;
    margin: 7px;
    float: left;
}

#project3container {
    width: 96%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    clear: left;
}

.breakfor3 {
    clear: left;
    height: 10px;
}

.footerbreak {
    margin-top: 40px;
}


/* Resume Page-Specific Styles */

/*#resumetitlecontainer {
    margin-bottom: 10px;
    text-align: center;
}

.resumetitle {
    font-family: 'Homemade Apple', cursive;
    font-weight: bold;
    font-weight: 210%;
    font-size: 100%;
    background-color: #0ff;
    width: 200px;
    margin: auto;
    margin-bottom: 5px;
}*/

#resumesubtitlecontainer {
    background: #0ff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#resumecontainer {
    text-align: center;
}

#resumemaincontainer {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}